{% load i18n %}
{% load tz %}
{% load tools %}
{% load cpro_tags %}
{% with event=item %}
<div class="event-info">
  <img src="{{ event.image_url }}" alt="{{ event.name }}" class="event-image img-responsive">
  <br>
  {% if event.is_current %}
  <h1 id="countdown" class="text-main">
    <script>
      var eventcountdown = "{{ event.end|torfc2822 }}";
      var render = function countdownRender(data) {
      $(this.el).text(data.days + ' {% trans 'days' %}, ' + data.hours + ' {% trans 'hours' %}, ' + data.min + ' {% trans 'minutes' %}, ' + data.sec + ' {% trans 'seconds left' %}');
      };
    </script>
  </h1>
  {% else %}
  <br>
  {% endif %}
  <table class="table about-table">
    <tr>
      <td><i class="flaticon-JP"></i></td>
      <th>{% trans 'Name' %} ({% t 'Japanese' %})</th>
      <td>{{ event.name }}</td>
    </tr>
    {% if event.translated_name %}
    <tr>
      <td><i class="flaticon-world"></i></td>
      <th>{% trans 'Name' %} ({% trans 'translated in English' %})</th>
      <td>{{ event.translated_name }}</td>
    </tr>
    {% endif %}
    <tr>
      <td><i class="flaticon-event"></i></td>
      <th>{% trans 'Event' %}</th>
      <td>{{ event.kind }}</td>
    </tr>
    {% if event.cached_total_cards %}
    <tr>
      <td><i class="flaticon-cards"></i></td>
      <th>{% trans 'Cards' %}</th>
      <td>
	{{ event.cached_total_cards }}
	{% trans 'Cards' %}<br>
	<a href="/cards/?event={{ event.id }}" target="_blank">
	  {% trans 'View all' %}
	  <i class="flaticon-link fontx0-8"></i>
	</a>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td><i class="flaticon-date"></i></td>
      <th>{% trans 'Beginning' %}</th>
      <td>{{ event.beginning|timezone:"Asia/Tokyo" }}</td>
    </tr>
    <tr>
      <td><i class="flaticon-date"></i></td>
      <th>{% trans 'End' %}</th>
      <td>{{ event.end|timezone:"Asia/Tokyo" }}</td>
    </tr>
    {% if event.t1_rank %}
    <tr>
      <td><i class="flaticon-contest"></i></td>
      <th>{% trans_anon_format string='T{} Rank' arg=1 %}</th>
      <td>{{ event.t1_rank }}</td>
    </tr>
    {% endif %}
    {% if event.t1_points %}
    <tr>
      <td><i class="flaticon-scoreup"></i></td>
      <th>{% trans_anon_format string='T{} Points' arg=1 %}</th>
      <td>{{ event.t1_points }}</td>
    </tr>
    {% endif %}
    {% if event.t2_rank %}
    <tr>
      <td><i class="flaticon-contest"></i></td>
      <th>{% trans_anon_format string='T{} Rank' arg=2 %}</th>
      <td>{{ event.t2_rank }}</td>
    </tr>
    {% endif %}
    {% if event.t2_points %}
    <tr>
      <td><i class="flaticon-scoreup"></i></td>
      <th>{% trans_anon_format string='T{} Points' arg=2 %}</th>
      <td>{{ event.t2_points }}</td>
    </tr>
    {% endif %}
    {% if event.t3_rank %}
    <tr>
      <td><i class="flaticon-contest"></i></td>
      <th>{% trans_anon_format string='T{} Rank' arg=3 %}</th>
      <td>{{ event.t3_rank }}</td>
    </tr>
    {% endif %}
    {% if event.t3_points %}
    <tr>
      <td><i class="flaticon-scoreup"></i></td>
      <th>{% trans_anon_format string='T{} Points' arg=3 %}</th>
      <td>{{ event.t3_points }}</td>
    </tr>
    {% endif %}
    {% if event.t4_rank %}
    <tr>
      <td><i class="flaticon-contest"></i></td>
      <th>{% trans_anon_format string='T{} Rank' arg=4 %}</th>
      <td>{{ event.t4_rank }}</td>
    </tr>
    {% endif %}
    {% if event.t4_points %}
    <tr>
      <td><i class="flaticon-scoreup"></i></td>
      <th>{% trans_anon_format string='T{} Points' arg=4 %}</th>
      <td>{{ event.t4_points }}</td>
    </tr>
    {% endif %}
    {% if event.t5_rank %}
    <tr>
      <td><i class="flaticon-contest"></i></td>
      <th>{% trans_anon_format string='T{} Rank' arg=5 %}</th>
      <td>{{ event.t5_rank }}</td>
    </tr>
    {% endif %}
    {% if event.t5_points %}
    <tr>
      <td><i class="flaticon-scoreup"></i></td>
      <th>{% trans_anon_format string='T{} Points' arg=5 %}</th>
      <td>{{ event.t5_points }}</td>
    </tr>
    {% endif %}
    <tr>
      <td><i class="flaticon-comments"></i></td>
      <th>{% trans 'Comments' %}</th>
      <td>
	<a href="{{ event.item_url }}#disqus_thread" class="btn btn-lg btn-secondary"{% if current != 'event_item' %} target="_blank"{% endif %}>
	  {% trans 'Comments' %}
	</a>
      </td>
    </tr>
    <tr>
      <td><i class="flaticon-link"></i></td>
      <th>{% trans 'Share' %}</th>
      <td>
	<span class="btn-group">
	  {% include 'include/share.html' with share_url=event.http_item_url share_btn_class="secondary btn-lg" share_sentence=event %}
	</span>
      </td>
    </tr>
    {% if user.is_staff %}
    <tr>
      <td><i class="flaticon-edit"></i></td>
      <th>{% trans 'Edit' %}</th>
      <td>
	<a href="/events/edit/{{ event.id }}/" class="btn btn-lg btn-secondary"><i class="flaticon-edit"></i></a>
      </td>
    </tr>
    {% endif %}
  </table>
</div>
{% endwith %}
