{% load i18n %}
{% load tools %}
{% with idol=item %}
<div class="idol-info">
  <br><br>
  <p class="text-center">
    <img src="{{ idol.image_url }}" alt="{{ idol.name }}" class="idol-image">
  </p>
  {% if current == 'idol_item' %}
  <h3 class="text-center fontx2">{{ idol.name }}</h3>
  {% endif %}
  <br>
  <table class="table about-table a-{{ idol.english_type|default_if_none:'main' }}">
    {% if idol.hometown %}
    <tr>
      <td><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
      <th>{% trans 'Hometown' %}</th>
      <td>
	{% if idol.romaji_hometown %}{{ idol.romaji_hometown }}<br>{% endif %}
	{{ idol.hometown }}
      </td>
    </tr>
    {% endif %}
    {% if idol.CV %}
    <tr>
      <td><i class="flaticon-profile"></i></td>
      <th>{% trans 'CV' %}</th>
      <td>
	{% if idol.romaji_CV %}{{ idol.romaji_CV }}<br>{% endif %}
	{{ idol.CV }}
      </td>
    </tr>
    {% endif %}
  </table>
</div>
{% endwith %}
