{% load i18n %}
{% with oc=item %}
<div class="ownedcard" data-ownedcard-id="{{ oc.id }}" id="ownedcard{{ oc.id }}" data-ownedcard-account-id="{{ oc.account_id }}"
     data-card-title="{{ oc.card }}"
     {#data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"#}
     >
  <div class="hidden">
    <table class='table'>
      <tr><th>{% trans 'Max Leveled' %}</th><td><i class='flaticon-{% if oc.max_leveled %}checked text-success{% else %}delete text-danger{% endif %}'></i></td></tr>
      <tr><th>{% trans 'Max Bonded' %}</th><td><i class='flaticon-{% if oc.max_bonded %}checked text-success{% else %}delete text-danger{% endif %}'></i></td></tr>
      {% if oc.star_rank %}
      <tr><th>{% trans 'Star Rank' %}</th><td>{{ oc.star_rank }}</td></tr>
      {% endif %}
      {% if oc.skill_level and oc.card.has_skill %}
      <tr><th>{% trans 'Skill Level' %}</th><td>{{ oc.skill_level }}</td></tr>
      {% endif %}
      {% if oc.obtained_date %}
      <tr><th>{% trans 'Obtained Date' %}</th><td>{{ oc.obtained_date }}</td></tr>
      {% endif %}
    </table>
    <div class="text-center">
      {% if oc.is_mine %}
      <a href="/ownedcards/edit/{{ oc.id }}/"
	 {% if ajax and page == 1 or collection %}
	 data-ajax-title="{% trans 'Edit' %} {% trans 'Card' %}"
	 data-ajax-url="/ajax/ownedcards/edit/{{ oc.id }}/{% if collection %}?collection{% endif %}"
	 data-ajax-handle-form="true" data-ajax-modal-size="md"
	 {% endif %}
	 class="btn btn-{{ oc.card.english_type }}">
	<i class="flaticon-edit"></i>
	{% trans 'Edit' %} {% trans 'Card' %}
      </a>
      {% endif %}
      <a href="{{ oc.card.item_url }}"
	 data-ajax-url="{{ oc.card.ajax_item_url }}" data-ajax-title="{{ oc.card }}"
	 class="btn btn-{{ oc.card.english_type }}">
	<i class="flaticon-about"></i>
	{% trans 'About' %}
      </a>
    </div>
  </div>
  <img src="{% if oc.awakened %}{{ oc.card.icon_awakened_url }}{% else %}{{ oc.card.icon_url }}{% endif %}" alt="{{ oc.card }}">
</div>
<br>
{% endwith %}
