option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: cpro_project.settings
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "cpro_project/wsgi.py"

files:
  "/etc/cron.d/cronjobs" :
    mode: "000644"
    owner: root
    group: ec2-user
    content: |
      0 */2 * * * root source /opt/python/current/env && source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py cron_notifications >> /home/ec2-user/cronjob.log 2>&1
    encoding: plain

commands:
  clear_cron_backup:
      command: rm -f /etc/cron.d/cronjobs.bak
