{% load i18n %}
<style>
  #profile.jumbotron-Cute {
  	background-image: url('{{ static_url }}img/backgrounds/background9.png');
  }
  #profile.jumbotron-Cool {
  	background-image: url('{{ static_url }}img/backgrounds/background11.png');
  }
  #profile.jumbotron-Passion {
  	background-image: url('{{ static_url }}img/backgrounds/background13.png');
  }
  #profile.jumbotron-main {
  	background-image: url('{{ static_url }}img/backgrounds/background5.png');
  }
</style>
<script>
  var ownedcards_to_reload = [];
</script>
{% for account in profile_user.all_accounts %}
<div class="profile-account {% if account.center_id %}{{ account.cached_center.card.english_type }}{% else %}None{% endif %}" data-account-id="{{ account.id }}">
  <div class="profile-header" style="background-image: url('{% if account.center_id and account.cached_center.card.art %}{{ account.cached_center.card.art_url }}{% else %}{{ static_url }}img/backgrounds/background1.png{% endif %}');">
    <div class="profile-header-character" style="background-image: {% if account.center_id and not account.cached_center.card.art %}url('{{ account.cached_center.card.transparent_url }}'){% else %}none{% endif %};"><div class="profile-level">
      <span class="level"><span class="prefix">PLv.&nbsp;</span>{{ account.level|default_if_none:'??' }}</span>
      {% if account.producer_rank %}
      <span class="producer-rank">{{ account.producer_rank }}</span>
      {% endif %}
      {% if account.cached_leaderboard %}
      <span class="leaderboard">
	<a href="/accounts/" target="_blank">
	  #{{ account.cached_leaderboard }}
	  <i class="flaticon-link"></i>
	</a>
      </span>
      {% endif %}
    </div><div class="profile-info">
      {% if account.nickname %}
      <span class="nickname">{{ account.nickname }}</span>
      {% endif %}
      {% if account.game_id %}
      <span class="game-id">{{ account.game_id }}</span>
      {% endif %}
      {% if account.owner_id == user.id %}
      <a href="/accounts/edit/{{ account.id }}/" class="btn btn-inherit">
	<i class="flaticon-edit"></i> {% trans 'Edit' %} {% trans 'Account' %}
      </a>
      {% else %}
      <a href="/reports/add/account/?id={{ account.id }}" class="a-nodifference">
	<i class="flaticon-fingers"></i> {% trans 'Report' %}
      </a>
      {% endif %}
    </div>
    <ul class="nav nav-tabs">
      {% for name, localized, icon in account_tabs %}
      <li{% if account.show == name %} class="active"{% endif %}><a href="#account{{ account.id }}{{ name }}" data-toggle="tab">
	  <i class="flaticon-{{ icon }}"></i>
	  <span class="hidden-xs">{% trans localized %}</span>
      </a></li>
      {% endfor %}
    </ul>
  </div>
  </div>
  <div class="tab-content">
    {% for name, _ in account_tabs %}
    <div class="tab-pane{% if name == account.show %} active{% endif %}" id="account{{ account.id }}{{ name }}">{% if name != 'About' and name != 'Cards' %}
      <a href="https://twitter.com/cinderella__pro" target="_blank">
	<h1 class="padding50">{% trans 'Coming soon' %}</h1>
      </a>
      {% endif %}</div>
    {% endfor %}
  </div>
</div>
{% endfor %}
