{% load i18n %}
{% load l10n %}
<div id="cardstat{{ card.id }}"></div>
<div class="card {{ card.english_type }}">
  <div class="card-info">
    <table class="card-basic-info">
      <tr>
	<td>
	  <a href="{{ card.cached_idol.item_url }}" data-ajax-url="{{ card.cached_idol.ajax_item_url }}" data-ajax-title="{{ card.cached_idol.name }}" target="_blank">
	    <img src="{{ card.cached_idol.image_url }}" alt="{{ card.cached_idol.name }}" class="idol-image">
	  </a>
	  <h4>{% trans 'Idol' %}</h4>
	  <a href="{{ card.cached_idol.item_url }}" data-ajax-url="{{ card.cached_idol.ajax_item_url }}" data-ajax-title="{{ card.cached_idol.name }}" target="_blank">
	    {{ card.cached_idol.name }}
	  </a>
	</td>
	<td>
	  <h4>{% trans 'Rarity' %}</h4>
	  {{ card.rarity }}
	</td>
	{% if card.event %}
	<td width="220">
	  <h4>{% trans 'Event' %}</h4>
	  <a href="{{ card.cached_event.item_url }}" data-ajax-url="{{ card.cached_event.ajax_item_url }}" target="_blank" data-ajax-title="{{ card.cached_event.name }}">
	    <img src="{{ card.cached_event.image_url }}" alt="{{ card.event }}" class="event-image">
	  </a>
	</td>
	{% endif %}
	{% if card.title %}
	<td>
	  <h4>{% trans 'Title' %}</h4>
	  {% if card.translated_title %}
	  "{{ card.translated_title }}"
	  <br><small class="text-muted">
	    {{ card.title }}
	  </small>
	  {% else %}
	  {{ card.title }}
	  {% endif %}
	</td>
	{% endif %}
	{% if card.release_date %}
	<td>
	  <h4>{% trans 'Release Date' %}</h4>
	  {{ card.release_date }}
	</td>
	{% endif %}
      </tr>
    </table>
    {% if card.has_skill or card.has_leader_skill %}
    <table class="card-skills" data-levels="{{ card.javascript_all_skill_levels_details }}">
      <tr>
	{% if card.has_skill %}
	<td{% if card.has_leader_skill %} width="50%"{% endif %}>
	  <h4>{% trans 'Skill' %}: {{ card.skill }}</h4>
	  {% if card.translated_skill_name %}
	  <strong>{{ card.translated_skill_name }}</strong><br>
	  {% endif %}
	  <p class="skill-details">
	    {{ card.skill_details }}
	  </p>
	  {% if card.skill_name %}
	  <strong>{{ card.skill_name }}</strong><br>
	  {% endif %}
	  <p class="skill-details-jp text-muted">
	    {{ card.japanese_skill_details }}</p>
	  <p>
	    {% trans 'Skill Level' %} <span class="skill-level" data-max-level="{{ card.max_skill_level }}">1</span>
	    <span class="btn-group">
	      <a href="#changeSkillLevel-" class="btn btn-{{ card.english_type }} btn-sm disabled">-</a>
	      <a href="#changeSkillLevel+" class="btn btn-{{ card.english_type }} btn-sm">+</a>
	    </span>
	  </p>
	</td>
	{% endif %}
	{% if card.has_leader_skill %}
	<td>
	  <h4>{% trans 'Leader Skill' %}: {{ card.leader_skill }}</h4>
	  <p class="skill-details">{{ card.leader_skill_details }}</p>
	  <p class="skill-details-jp text-muted">{{ card.japanese_leader_skill_details }}</p>
	</td>
	{% endif %}
      </tr>
    </table>
    {% endif %}
    <table class="card-basic-info">
      <tr>
	{% if card.cached_total_owners %}
	<td>
	  <h4>{% trans 'Scouted by' %}</h4>
	  {% with total=card.cached_total_owners %}
	  {% blocktrans count counter=total %}{{ total }} producer{% plural %}{{ total }} producers{% endblocktrans %}
	  {% endwith %}<br>
	  <a href="/accounts/?own_card={{ card.id }}" target="_blank">
	    {% trans 'View all' %}
	    <i class="flaticon-link fontx0-8"></i>
	  </a>
	</td>
	{% endif %}
	{% if card.cached_total_favorites %}
	<td>
	  <h4>{% trans 'Favorited by' %}</h4>
	  {% with total=card.cached_total_favorites %}
	  {% blocktrans count counter=total %}{{ total }} producer{% plural %}{{ total }} producers{% endblocktrans %}
	  {% endwith %}<br>
	  <a href="/accounts/?favorite_card={{ card.id }}" target="_blank">
	    {% trans 'View all' %}
	    <i class="flaticon-link fontx0-8"></i>
	  </a>
	</td>
	{% endif %}
	<td>
	  <h4>{% trans 'Comments' %}</h4>
      <a href="{{ card.item_url }}#disqus_thread" class="btn btn-{{ card.english_type }} btn-lg"{% if current != 'current-card_item' %} target="_blank"{% endif %}>
	<i class="flaticon-comments"></i> {% trans 'Comments' %}
      </a>
	</td>
	<td>
	  <h4>{% trans 'Share' %}</h4>
	  <span class="btn-grouph">
	    {% include 'include/share.html' with share_url=card.http_item_url share_btn_class=card.english_type|add:' btn-lg' share_sentence=card %}
	  </span>
	</td>
      </tr>
    </table>
    {% for awakened, stats in card.stats_percent %}
    <div class="card-art{% if awakened %}-awakened{% endif %}" style="background-image: url('{% if awakened %}{% if card.art_awakened %}{{ card.art_awakened_url }}{% else %}{{ static_url }}img/backgrounds/background1.png{% endif %}{% else %}{% if card.art %}{{ card.art_url }}{% else %}{{ static_url }}img/backgrounds/background0.png{% endif %}{% endif %}');">
	<div class="cards-stats-inner-inner"{% if awakened and not card.art_awakened %} style="background-image: url('{{ card.transparent_awakened_url }}');"{% elif not awakened and not card.art %} style="background-image: url('{{ card.transparent_url }}');"{% endif %}>
      <div class="card-stats-inner">
      <div class="card-stats" style="background-image: url('{% if awakened %}{{ card.puchi_awakened_url }}{% else %}{{ card.puchi_url }}{% endif %}');">
	<div class="btn-group btn-group-justified" data-toggle="buttons">
	  <label class="btn btn-inherit changeLevel">
	    <input type="radio" name="options" autocomplete="off"> {% trans 'Level' %} <span class="level">1</span>
	  </label>
	  <div class="btn btn-inherit">
	    {% trans 'Level' %} <input type="number" name="changeLevelNumber" placeholder="??" min="2" max="{% if awakened %}{{ card.max_level_awakened|add:-1 }}{% else %}{{ card.max_level|add:-1 }}{% endif %}">
	  </div>
	  <label class="btn btn-inherit changeLevel active">
	    <input type="radio" name="options" autocomplete="off" checked> {% trans 'Level' %} <span class="level">{% if awakened %}{{ card.max_level_awakened }}{% else %}{{ card.max_level }}{% endif %}</span>
	  </label>
	</div>
	<br>
	{% for stat in stats %}
	<div class="row" data-stat="{{ stat.stat }}" data-levels='{{ stat.javascript_levels|safe }}'>
	  <div class="col-xs-2">{{ stat.name }}</div>
	  <div class="col-xs-2 text-right stat-value">{{ stat.value_max_level }}</div>
	  <div class="col-xs-8">
	    <div class="progress">
	      <div class="progress-bar progress-bar-default progress-bar-striped"
		   role="progressbar"
		   style="width: {% localize off %}{{ stat.percent_max_level }}{% endlocalize %}%;">
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
	<div class="row">
	  <div class="col-xs-4">{% trans 'Download' %}</div>
	  <div class="col-xs-8">
	    <div class="btn-group btn-group-justified">
	      {% if awakened %}
	      {% if card.art_awakened %}
	      <a class="btn btn-inherit btn-sm" target="_blank" href="{% if card.art_hd_awakened %}{{ card.art_hd_awakened_url }}{% else %}{{ card.art_awakened_url }}{% endif %}"><span class="inner">{% trans  'Art' %}</span></a>
	      {% endif %}
	      <a class="btn btn-inherit btn-sm" target="_blank" href="{{ card.puchi_awakened_url }}"><span class="inner">{% trans  'Puchi' %}</span></a>
	      <a class="btn btn-inherit btn-sm" target="_blank" href="{{ card.transparent_awakened_url }}"><span class="inner">{% trans  'Transparent' %}</span></a>
	      {% else %}
	      {% if card.art %}
	      <a class="btn btn-inherit btn-sm" target="_blank" href="{% if card.art_hd %}{{ card.art_hd_url }}{% else %}{{ card.art_url }}{% endif %}"><span class="inner">{% trans  'Art' %}</span></a>
	      {% endif %}
	      <a class="btn btn-inherit btn-sm" target="_blank" href="{{ card.puchi_url }}"><span class="inner">{% trans  'Puchi' %}</span></a>
	      <a class="btn btn-inherit btn-sm" target="_blank" href="{{ card.transparent_url }}"><span class="inner">{% trans  'Transparent' %}</span></a>
	      {% endif %}
	    </div>
	  </div>
	</div>
      </div>
    </div>
    </div>
    </div>
    {% endfor %}
  </div>
